<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>Seoul Runners</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />

    <!-- Tmap API -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxc46aa2ae76a24d478075fbd87eb80cf1"></script>
    <script type="text/javascript">
      var map;
      var marker_s, marker_e, marker_p1, marker_p2;
      var totalMarkerArr = [];
      var drawInfoArr = [];
      var resultdrawArr = [];

      let routeNo,
        originX,
        originY,
        destinationX,
        destinationY,
        passX,
        passY,
        originName,
        destinationName;

      $(document).ready(function () {
        load_routes();
      });

      function load_routes() {
        $.ajax({
          type: "GET",
          url: "/tmapdb",
          data: {},
          success: function (response) {
            if ((response["result"] = "success")) {
              let routes = response["routes"];

              routeNo = routes[0]["routeNo"];
              originX = routes[0]["originX"];
              originY = routes[0]["originY"];
              destinationX = routes[0]["destinationX"];
              destinationY = routes[0]["destinationY"];
              passX = routes[0]["passX"];
              passY = routes[0]["passY"];
              originName = routes[0]["originName"];
              destinationName = routes[0]["destinationName"];

              initTmap();
            }
          },
        });
      }

      function initTmap() {
        // 0. 변수는 잘 받아왔는지? 확인
        console.log(
          routeNo,
          originX,
          originY,
          destinationX,
          destinationY,
          passX,
          passY,
          originName,
          destinationName
        );
        // 1. 지도 띄우기
        map = new Tmapv2.Map("map_div", {
          center: new Tmapv2.LatLng(
            (originY + destinationY) / 2,
            (originX + destinationX) / 2
          ),
          width: "100%",
          height: "300px",
          zoom: 13,
          zoomControl: true,
          scrollwheel: true,
        });

        // 2. 시작, 도착 심볼찍기
        // 시작
        marker_s = new Tmapv2.Marker({
          position: new Tmapv2.LatLng(originY, originX),
          icon:
            "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
          iconSize: new Tmapv2.Size(24, 38),
          map: map,
        });

        // 도착
        marker_e = new Tmapv2.Marker({
          position: new Tmapv2.LatLng(destinationY, destinationX),
          icon:
            "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
          iconSize: new Tmapv2.Size(24, 38),
          map: map,
        });

        // 3. 경유지 심볼 찍기
        marker_p1 = new Tmapv2.Marker({
          position: new Tmapv2.LatLng(passY, passX),
          icon:
            "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_p.png",
          iconSize: new Tmapv2.Size(24, 38),
          map: map,
        });

        // marker_p2 = new Tmapv2.Marker({
        //   position: new Tmapv2.LatLng(37.565778, 126.987319),
        //   icon:
        //     "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_p.png",
        //   iconSize: new Tmapv2.Size(24, 38),
        //   map: map,
        // });

        // 4. 경로탐색 API 사용요청
        $.ajax({
          method: "POST",
          url:
            "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result", //
          async: false,
          data: {
            appKey: "l7xxc46aa2ae76a24d478075fbd87eb80cf1",
            startX: originX,
            startY: originY,
            endX: destinationX,
            endY: destinationY,
            passList: passX + "," + passY,
            reqCoordType: "WGS84GEO",
            resCoordType: "EPSG3857",
            startName: originName,
            endName: destinationName,
          },
          success: function (response) {
            var resultData = response.features;
            console.log(resultData);
            //결과 출력
            var tDistance =
              "총 거리 : " +
              (resultData[0].properties.totalDistance / 1000).toFixed(1) +
              "km,";
            var tTime =
              " 총 시간 : " +
              (resultData[0].properties.totalTime / 60).toFixed(0) +
              "분";

            $("#result").text(tDistance + tTime);

            //기존 그려진 라인 & 마커가 있다면 초기화
            if (resultdrawArr.length > 0) {
              for (var i in resultdrawArr) {
                resultdrawArr[i].setMap(null);
              }
              resultdrawArr = [];
            }

            drawInfoArr = [];

            for (var i in resultData) {
              //for문 [S]
              var geometry = resultData[i].geometry;
              var properties = resultData[i].properties;
              var polyline_;

              if (geometry.type == "LineString") {
                for (var j in geometry.coordinates) {
                  // 경로들의 결과값(구간)들을 포인트 객체로 변환
                  var latlng = new Tmapv2.Point(
                    geometry.coordinates[j][0],
                    geometry.coordinates[j][1]
                  );
                  // 포인트 객체를 받아 좌표값으로 변환
                  var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                    latlng
                  );
                  // 포인트객체의 정보로 좌표값 변환 객체로 저장
                  var convertChange = new Tmapv2.LatLng(
                    convertPoint._lat,
                    convertPoint._lng
                  );
                  // 배열에 담기
                  drawInfoArr.push(convertChange);
                }
              } else {
                var markerImg = "";
                var pType = "";
                var size;

                if (properties.pointType == "S") {
                  //출발지 마커
                  markerImg =
                    "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                  pType = "S";
                  size = new Tmapv2.Size(24, 38);
                } else if (properties.pointType == "E") {
                  //도착지 마커
                  markerImg =
                    "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                  pType = "E";
                  size = new Tmapv2.Size(24, 38);
                } else {
                  //각 포인트 마커
                  markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                  pType = "P";
                  size = new Tmapv2.Size(8, 8);
                }

                // 경로들의 결과값들을 포인트 객체로 변환
                var latlon = new Tmapv2.Point(
                  geometry.coordinates[0],
                  geometry.coordinates[1]
                );

                // 포인트 객체를 받아 좌표값으로 다시 변환
                var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                  latlon
                );

                var routeInfoObj = {
                  markerImage: markerImg,
                  lng: convertPoint._lng,
                  lat: convertPoint._lat,
                  pointType: pType,
                };

                // Marker 추가
                marker_p = new Tmapv2.Marker({
                  position: new Tmapv2.LatLng(
                    routeInfoObj.lat,
                    routeInfoObj.lng
                  ),
                  icon: routeInfoObj.markerImage,
                  iconSize: size,
                  map: map,
                });
              }
            } //for문 [E]
            drawLine(drawInfoArr);
          },
          error: function (request, status, error) {
            console.log(
              "code:" +
                request.status +
                "\n" +
                "message:" +
                request.responseText +
                "\n" +
                "error:" +
                error
            );
          },
        });
      }

      function addComma(num) {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ",");
      }

      function drawLine(arrPoint) {
        var polyline_;

        polyline_ = new Tmapv2.Polyline({
          path: arrPoint,
          strokeColor: "#DD0000",
          strokeWeight: 6,
          map: map,
        });
        resultdrawArr.push(polyline_);
      }
    </script>

    <style type="text/css">
      h1.title {
        font-family: "Permanent Marker", cursive;
        text-align: center;
        padding: 20px;
      }
      .wrap {
        width: 70%;
        margin: 10px auto 30px auto;
      }
      .header {
        text-align: center;
      }
      form {
        padding: 20px;
        align-items: center;
      }
      .card-columns {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <h1 class="title">Seoul Runners</h1>
        <h5>서울의 러닝 코스를 공유하고, 함께 즐겨봅시다.</h5>
      </div>
      <div class="course-input">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-3 mb-3">
              <label for="validationTooltip04">Origin</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip04"
                placeholder="동호대교"
                required
              />
              <div class="invalid-tooltip">
                출발지를 입력해주세요.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationTooltip05">Destination</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip05"
                placeholder="반포대교"
                required
              />
              <div class="invalid-tooltip">
                도착지를 입력해주세요.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationTooltip03">Comment</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip03"
                placeholder="코스에 대한 간단한 설명을 넣어주세요."
                required
              />
              <div class="invalid-tooltip">
                설명을 입력해주세요.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>

      <!-- 코스 카드리스팅 영역 -->
      <div class="card-columns">
        <div class="card">
          <img
            class="card-img-top"
            src="https://c.static-nike.com/a/images/w_1920,c_limit/bub8vzpmxpebobnrenml/long-distance-marathon-running-shoes.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              운동이 단순히 근육을 단단하게 만들고 심장 기능을 강화하는 데만
              효과적인 것은 아니다. 노력하는 '나'라는 존재에 대한 자부심을 갖게
              만든다. 나이듦이라는 어쩔 수 없는 한계에 넋 놓고 앉아 있는 것이
              아니다. 분발하며 더 나은 인간으로 성장하겠다는 자신감을 보여준다.
              그런 자부심과 자신감을 발산하는데, 어찌 내가 예전에 알던 평범한
              사람으로 보이겠는가.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">마녀체력 - 이영미</cite>
              </small>
            </footer>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>
              개발자에게 잘 해주자
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                김연경 <cite title="Source Title">스파르타코딩클럽 中...</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="/static/route1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">동호대교 ~ 반포대교</h5>
            <p class="card-text">
              3.5km, 동호대교 북단 (옥수역) ~ 반포대교 북단 (서빙고역) 코스
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>
              제20회 여성마라톤대회 <br />
              2020.09.05 토요일 <br />
              D-95
            </p>
            <!-- <footer class="blockquote-footer">
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer> -->
          </blockquote>
        </div>
        <div class="card">
          <img
            class="card-img"
            src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F200530102841-nike-dont-do-it.jpg"
            alt="Card image"
          />
        </div>
        <!-- <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.
            </p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div> -->
        
        <div class="card">
          <div id="map_wrap" class="map_wrap3">
            <div id="map_div"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">동호대교 ~ 반포대교</h5>
            <p class="card-text">
              <div class="map_act_btn_wrap clear_box"></div>
              <p id="result"></p>
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              네가 이루고 싶은 게 있거든 체력을 먼저 길러라.
            </h5>
            <p class="card-text">
              평생 해야 할 일이라고 생각되거든 체력을 먼저 길러라. 게으름, 나태,
              권태, 짜증, 우울, 분노, 모두 체력이 버티지 못해, 정신이 몸의
              지배를 받아 나타나는 증상이야. 네가 후반에 종종 무너지는 이유,
              데미지를 입은 후 회복이 더딘 이유, 실수한 후 복귀가 더딘 이유,
              모두 체력의 한계 때문이다. 체력이 약하면 빨리 편안함을 찾게
              마련이고, 그러다 보면 인내심이 떨어지고 그 피로감을 견디지 못하게
              되면 승부 따윈 상관없는 지경에 이르지. 이기고 싶다면 충분한 고민을
              버텨줄 몸을 먼저 만들어. ‘정신력’은 ‘체력’이란 외피의 보호 없이는
              구호밖에 안 돼.
            </p>
            <footer class="blockquote-footer">
              <small>
                <cite title="Source Title">미생</cite>
              </small>
            </footer>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    
  </body>
</html>
